## WEEK 3. IBM Data Science Capstone project

Web-scraping and preparing data for the next assignments

importing libraries

In [102]:
import numpy as np
import pandas as pd

import requests

Scraping Wikipedia page with lis of postal_codes of Canada. Response is an object variable which contains information we need.

In [103]:
response=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

We can 'digitalize' table using pandas without help of BeautifulSoup

In [104]:
dfs = pd.read_html(str(response.text))
df=dfs[0]
df[1:10]

  Postcode           Borough     Neighbourhood
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

Remove rows with Borough 'Not assigned'

In [105]:
df = df[df['Borough'] != 'Not assigned']
df.shape

(210, 3)

Remove duplicates with the same Postcode and list all Boroughs which are having same Postcode, separating them by comma

In [108]:
df = df.groupby(['Postcode','Borough']).agg(', '.join)
df[20:30]

                                                       Neighbourhood
Postcode Borough
M2L      North York                         Silver Hills, York Mills
M2M      North York                          Newtonbrook, Willowdale
M2N      North York                                 Willowdale South
M2P      North York                                  York Mills West
M2R      North York                                  Willowdale West
M3A      North York                                        Parkwoods
M3B      North York                                  Don Mills North
M3C      North York                 Flemingdon Park, Don Mills South
M3H      North York  Bathurst Manor, Downsview North, Wilson Heights
M3J      North York                  Northwood Park, York University

We don't need table to be indexed by Postcode and Borough. Reset index

In [107]:
df=df.reset_index()
df.shape

(103, 3)